.yourValue {
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.yourValue:focus {
  border: 2px solid blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.whHesapla {
  width: 50%;
}
.weightValue {
  width: 100%;
}
.hesapla {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.resultStatus {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.result {
  width: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: red;
}
.status {
  width: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: green;
}
